#end-check-1 {
    visibility: hidden;
    margin-top:10px;
}

#end-cross-1 {
    visibility:hidden;
    margin-top:10px;
}

#end-check-2 {
    visibility: hidden;
    margin-top:50px;
}

#end-cross-2 {
    visibility:hidden;
    margin-top:50px;
}

#end-check-3 {
    visibility:hidden;
    margin-top:100px;
}

#end-cross-3 {
    visibility:hidden;
    margin-top:100px;
}

#end-check-4 {
    visibility:hidden;
    margin-top:180px;
}

#end-cross-4 {
    visibility:hidden;
    margin-top:180px;
}

#end-check-5 {
    visibility:hidden;
    margin-top:220px;
}

#end-cross-5 {
    visibility:hidden;
    margin-top:220px;
}

#end-check-6 {
    visibility: hidden;
    margin-top:250px;
}

#end-cross-6 {
    visibility:hidden;
    margin-top:250px;
}