/**
 *Activated Nodes
 */

#world-end-activated{
    position:absolute;
    visibility: hidden;
    left:182px;
    top:370px;
}

#moon-island-activated{
    position:absolute;
    visibility: hidden;
    left:200px;
    top:400px;
}

body {
    background-color: #E0EAF2;
    color: black;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#top-panel-wrapper h1 {
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    padding-top:30px;
    padding-bottom:30px;
}

#top-panel-wrapper {
    position:relative;
    width:100%;
    height:auto;
    top:0;
    -moz-box-shadow: 1px 1px 4px #989898;
    -webkit-box-shadow: 1px 1px 4px #989898;
    box-shadow: 1px 1px 4px #989898;
    border-bottom:solid 1px #7EA8CA;
    color:#ffffff;
    background:#497cbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#497cbd), to(#73a4df));
    background: -moz-linear-gradient(top, #497cbd, #73a4df);
}

#bottomPanelWrapper {
    height: 50px;
    background: #f4f4f4;
}