/**
 *Activated Nodes
 */

#helicopter{
    position:absolute;
    visibility: visible;
    left:10px;
    top:366px; 
}

#mit{
    position:absolute;
    visibility: visible;
    left:1248px;
    top:365px; 
}

#world-end-activated{
    position:absolute;
    visibility: hidden;
    left:165px;
    top:366px;
}

#moon-island-activated{
    position:absolute;
    visibility: hidden;
    left:320px;
    top:430px;
}

#long-island-activated{
    position:absolute;
    visibility: hidden;
    left:320px;
    top:300px;
}

#art-activated{
    position:absolute;
    visibility: hidden;
    left:473px;
    top:368px;
}

#chinatown-activated{
    position:absolute;
    visibility: hidden;
    left:628px;
    top:300px;
}

#aquarium-activated{
    position:absolute;
    visibility: hidden;
    left:627px;
    top:425px;
}

#logan-airport-activated{
    position:absolute;
    visibility: hidden;
    left:781px;
    top:117px;
}

#faneuil-hall-activated{
    position:absolute;
    visibility: hidden;
    left:780px;
    top:365px;
}

#public-garden-activated{
    position:absolute;
    visibility: hidden;
    left:937px;
    top:365px;
}

#prudential-activated{
    position:absolute;
    visibility: hidden;
    left:1090px;
    top:300px;
}

#john-hancock-activated{
    position:absolute;
    visibility: hidden;
    left:1090px;
    top:430px;
}

body {
    background-color: #E0EAF2;
    color: black;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

#top-panel-wrapper h1 {
    text-align: center;
    margin-top:0;
    margin-bottom:0;
    padding-top:30px;
    padding-bottom:30px;
}

#top-panel-wrapper {
    position:relative;
    width:100%;
    height:auto;
    top:0;
    -moz-box-shadow: 1px 1px 4px #989898;
    -webkit-box-shadow: 1px 1px 4px #989898;
    box-shadow: 1px 1px 4px #989898;
    border-bottom:solid 1px #7EA8CA;
    color:#ffffff;
    background:#497cbd;
    background: -webkit-gradient(linear, left top, left bottom, from(#497cbd), to(#73a4df));
    background: -moz-linear-gradient(top, #497cbd, #73a4df);
}

#bottomPanelWrapper {
    height: 50px;
    background: #f4f4f4;
}